@import "tailwindcss";
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent ; /* Purple */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0F8363; /* Pink */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0F8363;
  }

  ::selection {
    background-color: #0F8363; /* highlight color */
    color: white; /* text color when selected */
  }
  